#left_menu {
    float:right;    
position: absolute;
left: auto;
right: 0px;
top: 45px;
z-index: 48;
}
body.dashborad{
    background-position: top right;
}
#content {
margin-left: 0px !important;
margin-right: 240px;
padding: 0px  0 0 10px;
}
#shortcut{
    float:left;
}
#content .inner .logo{
    float:right;
}
#footer{
    text-align: right;
}
#header #account_info{
    text-align: left;
}